version: 1
components:
  - uri: oci://ghcr.io/microsoft/get-weather-js:latest
    name: weather-service
    permissions:
      network:
        allow:
          - host: api.openweathermap.com
      environment:
        allow:
          - key: OPENWEATHER_API_KEY

  - uri: oci://ghcr.io/microsoft/time-server:latest
    name: time-service
    permissions:
      network:
        allow:
          - host: worldtimeapi.org

  - uri: oci://ghcr.io/microsoft/filesystem-rs:latest
    name: filesystem-service
    permissions:
      storage:
        allow:
          - uri: fs:///tmp/workspace
            access: [read, write]
