version: 1
components:
  - uri: oci://ghcr.io/microsoft/get-weather-js:latest
    name: weather-service
    permissions:
      network:
        allow:
          - host: api.openweathermap.com
      environment:
        allow:
          - key: OPENWEATHER_API_KEY
            value_from: OPENWEATHER_API_KEY
          - key: API_TIMEOUT
            value_from: API_TIMEOUT
